
<%- include("partials/header.ejs") %>


  <% if (locals.adjective && locals.noun) { %>

    <h1>
      <%=adjective%>
        <%=noun%>
    </h1>

    <% } else { %>

      <h1>Bem-Vindo ao Gerador de Banda 🤘</h1>

      <% } %>

        <form action="/submit" method="POST">
          <input type="submit" value="Gerar Nome">
        </form>
        <!-- Step 3 Add Footer -->

        <%- include("partials/footer.ejs") %>
